$mobile-s: "all and (max-width: 575px)";
$mobile-m: "all and (min-width: 576px)";
$mobile-l: "all and (min-width: 768px)";
$tablet: "all and (min-width: 992px)";
$laptop: "all and (min-width: 1200px)";
$desktop: "all and (min-width: 1400px)";
